###### Requirements (without Version Specifiers) ######
torch
torchvision
torchaudio
gym~=0.26.2
gym[atari]
autorom[accept-rom-license]
jax
jaxlib
matplotlib
jupyter
pygame
seaborn
scikit-image
imageio
sk-video
pandas~=2.2.3
imageio[ffmpeg]
imageio[pyav]
openpyxl
scikit-learn

numpy~=1.24.4